@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.testr {
  border: 1px solid red;
}

.text-danger {
  color: red;
}
.bg-primary {
  background: #3870ff;
}
.text-primary {
  color: #3870ff;
}

.rightContainer {
  width: 60%;
  background-color: #09468b;

  .glassCard {
    width: 641px;
    height: 287px;
    left: 929px;
    top: 460px;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 60.25%
      );
    backdrop-filter: blur(4.5px);

    .quote {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
      color: #ffffff;
    }
  }
}
